<%- include("partial/header") -%>
    <h1> Compose</h1>
    <form action="/compose" method="post">
        <div class="form-group">
            <label for="">Title</label>
            <textarea class="form-control" name="postTitle" id="" rows="1"></textarea>
        </div>
        <div class="form-group">
            <label for="">Post</label>
            <textarea class="form-control" name="postBody" id="" rows="8"></textarea>
        </div>
        <button class="btn btn-primary" type="submit">Publish</button>
    </form>
    <%- include("partial/footer") -%>